@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.background);
  --foreground: theme(colors.foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: theme(colors.background-dark);
    --foreground: theme(colors.foreground-dark);
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Disabling arrows on input type numbers */
  @layer base {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
